{% include 'header.html' %}

<style>
@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}
</style>
<div class = "container">
  {% include 'include_message.html' %}
  <div class = "wrapper">
    <div class = "jumbotron">
      <div class="row grid-divider">
        <div class="col-sm-6">
          <div class = "col-padding">
            <h1 class="cover-heading text-center">Basic Information(All the fields are compulsory)</h1>
            <hr>
            <div class="container">
              <table>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button type="submit">Save</button>
                </form>
              </table>
            </div>
          </div>
        </div>
        <div class = "col-sm-6">
          <div class = "col-padding">
            <h1 class="cover-heading text-center">Schedules</h1>
            <hr>
            <div>
              <table class="table table-striped">
                <thead>
                  <tr class = "table bg-dark text-white">
                    <th>#</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Place</th>
                    <th> </th>
                  </tr>
                </thead>
                  <tbody style = "font-size:10px">
                    {% for scd in dsm %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{scd.schedule.day}}</td>
                      <td>{{scd.schedule.startTime}} - {{scd.schedule.endTime}}</td>
                      <td>{{scd.schedule.road}}, {{scd.schedule.zone}}</td>
                      <td><form method = "POST" action = "{% url 'delete_schedule' %}">{% csrf_token %}<input type="hidden" name="id" value="{{scd.id}}"><button type="submit">Delete</button></form>
                    </tr>  
                    {% endfor %}  
                  </tbody>
                
                
              </table>  
              {% include 'addSchedule.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
