{% include "header.html" %}

<html>
  <body>
    <div class="container">
      
      <div class="jumbotron" style="background-color: #DCDCDC;">
        <div class="row">
          <p class="text-center"><i class="fa fa-check-circle"></i></p>
          <span class="align-middle"><i class="fa fa-check-circle"></i></span>
        </div>
        <div class="row">
          <div>
            <h3  style="text-align:center;"> {{ message }} </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% include 'footer.html' %}
