<div class = "container">
  <div class = "row">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Mehreen Khan wants to be your assistant.</p>
        <a href="#" class="btn btn-primary">Accept</a>
        <a href="#" class="btn btn-danger">Reject</a>
      </div>
    </div>
  </div>
  
  <div class = "row">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Boss Mehreen wants to be your assistant.</p>
        <button class="btn btn-primary btn-xs">Accept</a>
        <button href="#" class="btn btn-danger btn-xs">Reject</a>
      </div>
    </div>
  </div>
  
  <p>See all notifications.</p>
</div>

